* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0B1D26;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

header {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 80px 0 80px;
}

header .logo {
  cursor: pointer;
  font-family: "Chronicle Display", sans-serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
}

header .logo:hover {
  color: #FBD784;
}

header .nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .nav__list {
  list-style-type: none;
}

header .nav__link {
  font-family: "Gilroy-bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 0 20px;
}

header .nav__link:hover {
  color: #FBD784;
}

header .account a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Gilroy-bold", sans-serif;
  font-size: 17px;
  text-decoration: none;
}

header .account a svg {
  margin-right: 8px;
}

.social {
  position: absolute;
  top: 60%;
  left: 1%;
  height: 24px;
  width: 173px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.social h3 {
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}

.social a svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(72%, rgba(0, 0, 0, 0)), to(#0b1d26)), url(/images/hero.png);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 72%, #0b1d26 100%), url(/images/hero.png);
  background-size: cover;
  height: 140vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main__div {
  margin-top: 15%;
  margin-left: 0%;
  width: 55%;
}

.main__div .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 315px;
  height: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.main__div .span {
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FBD784;
  margin-left: 30px;
}

.main__div h2 {
  font-family: "Chronicle Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 88px;
  line-height: 100px;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: #ffffff;
}

.main__div a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

.main__div a img {
  margin-left: 12px;
}

.main__div a:hover {
  font-size: 19px;
}

.scrollbar {
  position: absolute;
}

.contents {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -3%;
  margin-bottom: 200px;
  padding-left: 150px;
  padding-top: 30px;
}

.contents__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contents__back-text {
  position: absolute;
  top: -15%;
  left: 0;
  font-family: "Gilroy-bold", sans-serif;
  font-size: 240px;
  font-style: normal;
  color: #ffffff;
  opacity: 0.1;
}

.contents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
}

.contents__title-1 {
  width: 268px;
  height: 22px;
}

.contents__title-2 {
  width: 354px;
  height: 22px;
}

.contents__title-3 {
  width: 454px;
  height: 22px;
}

.contents__bar {
  min-width: 72px;
  height: 2px;
  background: #FBD784;
}

.contents__span {
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.contents h2 {
  font-family: "Chronicle Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  width: 570px;
  height: 154px;
  margin-bottom: 27px;
}

.contents p {
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  width: 632px;
  height: 160px;
  margin-bottom: 27px;
}

.contents a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 127px;
  height: 22px;
  font-family: "Gilroy-bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #FBD784;
  text-decoration: none;
}

.contents a:hover {
  margin-left: 5px;
}

.contents img {
  margin-top: -110px;
}

#contents-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contents-rev h1 {
  left: 53.5%;
}

#contents-rev img {
  margin-left: -150px;
}

.footer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  position: relative;
}

.footer__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-family: "Chronicle Display", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer__logo:hover {
  color: #FBD784;
}

.footer__text {
  width: 303px;
  height: 64px;
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 125px;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer div h2 {
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FBD784;
  margin-bottom: 24px;
}

.footer div a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer div a:hover {
  color: #FBD784;
  font-weight: bold;
}

.footer__links-1 {
  position: absolute;
  right: 375px;
  top: 0px;
}

.footer__links-2 {
  position: absolute;
  right: 0;
  top: 0px;
}

.footer__copyright {
  font-family: "Gilroy-bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 1500px) {
  .contents {
    padding-left: 0;
  }
  .contents__back-text {
    left: -10%;
    top: -17%;
  }
  .contents h2, .contents p {
    width: 80%;
    height: auto;
  }
  .contents img {
    width: 80%;
    height: auto;
  }
  #contents-rev {
    width: 100%;
    left: 10%;
  }
  #contents-rev > div {
    margin-left: 10%;
  }
  #contents-rev h1 {
    left: 42%;
  }
}

@media (max-width: 1200px) {
  .main__div {
    margin-top: 22%;
    margin-left: 2%;
  }
  .main h2 {
    font-size: 64px;
  }
  .main .tag {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main span {
    font-size: 14px;
  }
  .contents, #contents-rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    left: 0;
  }
  .contents h1, #contents-rev h1 {
    top: -8%;
    left: -10%;
  }
  .contents > div, #contents-rev > div {
    margin-bottom: 10%;
    margin-left: 0;
  }
  .contents > div div, #contents-rev > div div {
    margin-bottom: 20px;
    margin-left: 5%;
  }
  .contents img, #contents-rev img {
    margin-top: 0;
    margin-left: 0;
  }
  .contents a, #contents-rev a {
    position: relative;
    left: 60%;
  }
  .contents h2, #contents-rev h2 {
    font-size: 50px;
    margin-bottom: 24px;
    line-height: 50px;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .footer__logo, .footer__text, .footer__copyright {
    margin-left: 5%;
  }
  .footer div {
    width: 25%;
  }
  .footer div h2 {
    font-size: 150%;
  }
  .footer__links-1 {
    right: 25%;
  }
  .footer__links-2 {
    right: 1%;
  }
}

@media (max-width: 1000px) {
  header div.account a {
    font-size: 1em;
  }
  main div div span {
    font-size: 14px;
  }
  main div h2.main__text {
    font-size: 50px;
    line-height: 70px;
  }
}

@media (max-width: 800px) {
  header .logo {
    font-size: 28px;
  }
  header .nav ul {
    display: none;
  }
  header .account {
    font-size: 15px;
    height: 25px;
  }
  header .account a svg {
    height: 35px;
    width: 35px;
  }
  .social h3 {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .main .span {
    font-size: 16px;
  }
  .main div h2.main__text {
    font-size: 40px;
    line-height: 50px;
  }
  .contents h1 {
    font-size: 190px;
  }
  .contents__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contents__bar {
    min-width: 50px;
    margin-right: 25px;
  }
  .contents span {
    font-size: 15px;
  }
  .contents img {
    height: 100%;
    width: 60%;
  }
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -150px;
    padding: 0;
  }
  .footer h1 {
    position: absolute;
    left: 90px;
  }
  .footer p {
    margin-bottom: 10px;
    margin-right: 80px;
  }
  .footer div {
    display: none;
  }
  .footer span {
    position: absolute;
    right: 30px;
    bottom: -40px;
  }
}

@media (max-width: 600px) {
  header {
    padding: 50px 60px 0;
  }
  header .account a h2 {
    display: none;
  }
  .social {
    display: none;
  }
  .main__div {
    width: 80%;
    margin: 35% 0 0;
  }
  .footer {
    padding: 0;
  }
  .footer h1, .footer p {
    display: none;
  }
  .footer span {
    width: 70%;
    position: relative;
    right: 15%;
  }
}
/*# sourceMappingURL=main.css.map */