$primary-color: #0B1D26;
$secondary-color: #FBD784;
$light-color: #ffffff;
$chronicles: 'Chronicle Display', sans-serif;
$gilroy: 'Gilroy-bold', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($direction: row, $align: stretch, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin absolute($t, $l) {
    position: absolute;
    top: $t;
    left: $l;
}