@import 'config';
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/chronicle-display');
body {
    background: $primary-color;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
}

header {
    position: absolute;
    width: 100%;
    @include flex($direction: row, $align: center);
    justify-content: space-between;
    padding: 64px 80px 0 80px;
    .logo {
        font-family: $chronicles;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: $light-color;
    }

    .nav {
        &__lists {
            @include flex($direction: row, $align: center);
        }
        &__list{
            list-style-type: none;
        }
        &__link {
            font-family: $gilroy;
            font-size: 18px;
            line-height: 22px;
            color: $light-color;
            text-decoration: none;
            letter-spacing: 2px;
            margin: 0 20px;
        }
    }

    .account {
        a {
            color: $light-color;
            @include flex($direction: row, $align: center);
            font-family: $gilroy;
            font-size: 17px;
            text-decoration: none;

            svg {
                // height: 44px;
                // width: auto;
                margin-right: 8px;
            }
        }
    }
}

.main {
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 72%, rgba(11,29,38,1) 100%), url(/images/hero.png);
    background-size: cover;
    height: 140vh;
    grid-column: 1/13;
    @include flex($direction: column, $align: center);

    &__div {
        margin-top: 15%;
        margin-left: 0%;
        width: 55%;

        .tag {
            @include flex($direction: row, $align: center);
            width: 315px;
            height: 22px;
            justify-content: space-between;
            margin-bottom: 32px;
        }
        .span {
            font-family: $gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: $secondary-color;
            margin-left: 30px;
        }
    
        h2 {
            font-family: $chronicles;
            font-style: normal;
            font-weight: 300;
            font-size: 88px;
            line-height: 100px;
            letter-spacing: 3px;
            text-transform: capitalize;
            color: $light-color;
        }
    
        a {
            font-family: $gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: $light-color;
            text-decoration: none;
            @include flex($direction: row, $align: center);
            margin-top: 30px;

            img {
                margin-left: 12px;
            }
        }
    }
}

.social {
    @include absolute($t: 60%, $l: 1%);
    height: 24px;
    width: 173px;
    transform: rotate(90deg);
    @include flex($direction: row, $align: center);
    justify-content: space-between;
    text-align: center;

    h3 {
        font-family: $gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 2px;
        color: $light-color;
    }

    a {
        // margin-left: 15px;
        svg {
            transform: rotate(-90deg);
        }
    }
}

.contents, footer{
    grid-column: 2/12;
}
